//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

//body background(dark)
body.dark-layout {
  // background-color: #121212;

  // background-color: #0cbaba;
  // background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

  // background-color: #2b4162;
  // background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);

  // background-color: #000000;
  // background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  // background-color: #4834d4;
  // background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);

  background-color: #0b0f54;
  background-image: linear-gradient(135deg, #121212, #0b0f54);
}

//expandable navbar circle
.dark-layout .text-primary {
  // color: #05cbfc !important;
  color: white !important;
}

//Navigation active component
.main-menu.menu-light .navigation > li.active > a {
  background: #dddcf9;
  //   background: linear-gradient(118deg, rgba(#a9a6fa, 1), rgba(#a9a6fa, 0.7));
  box-shadow: none;
  border-radius: 4px;
  z-index: 1;
  //   color: #7a7885;
  color: $primary;
}
// .main-menu.menu-light .navigation > li.active > a {
//   background: linear-gradient(118deg, rgba(#dddcf9, 1), rgba(#dddcf9, 0.7));
//   box-shadow: 0 0 10px 1px rgba(#dddcf9, 0.4);
//   border-radius: 4px;
//   z-index: 1;
//   color: $white;
// }

//Navigation active component(dark)
.main-menu.menu-dark .navigation > li.active > a {
  // background: #01191f;
  background: #201c2e;
  //   background: linear-gradient(118deg, rgba(#a9a6fa, 1), rgba(#a9a6fa, 0.7));
  box-shadow: none;
  border-radius: 4px;
  z-index: 1;
  //   color: #7a7885;
  color: $primary;
}

//buttons(dark)
.dark-layout .btn-primary {
  // border-color: #05cbfc !important;
  // background-color: #05cbfc !important;

  border-color: #27aae1 !important;
  background-color: #27aae1 !important;
}

.dark-layout .btn-primary:hover:not(.disabled):not(:disabled) {
  box-shadow: 0 8px 25px -8px #27aae1;
}

// .dark-layout .bg-gradient-primary{
//   background-image: linear-gradient(47deg, #05cbfc, #059fc6);
// }

//`s
.dark-layout .card {
  // background: #283046;

  // background-color: #7f5a83;
  // background-image: linear-gradient(315deg, #8c5dab 0%, #0d324d 74%);

  //purp-vader//
  // background-color: #310e68;
  // background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);

  //deep water
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 66%, #0f3070e8 94%);

  //lie-detector
  // background-color: #4c4177;
  // background-image: linear-gradient(315deg, #4c4177 0%, #2a5470 74%);

  //fraude election
  // background-color: #7f5a83;
  // background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);

  //labour
  // background-color: #000000;
  // background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

// .dark-layout .card-title {
//   color: #05cbfc;
// }

.dark-layout .card-title {
  color: #ffff;
}

.card-title {
  color: $primary;
  //   color: $white;
}

// .dark-layout .heading {
//   background: linear-gradient(118deg, rgba(#05cbfc, 1), rgba(#05cbfc, 0.7));
// }

//Navbar shadow (dark)
.dark-layout .main-menu .shadow-bottom {
  //   background: linear-gradient(180deg, #06070b 44%, #06080d82 73%, #13172300);
  background: linear-gradient(180deg, #044a5f 44%, #06080d70 73%, #080a0f00);
}

//vertical navbar border
.dark-layout .vertical-layout.vertical-menu-modern.menu-expanded .main-menu {
  //   border-right: 1px solid white;
  box-shadow: -11px 12px 20px 0px #27aae1;
}

.dark-layout .vertical-layout.vertical-menu-modern.menu-collapsed .main-menu {
  //   border-right: 1px solid white;
  box-shadow: -11px 12px 20px 0px #27aae1;
}

//Navbar Top
.dark-layout .header-navbar {
  // background-color: #283046;

  // background-color: #0cbaba;
  // background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

  // background-color: #2b4162;
  // background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);

  // background-color: #000000;
  // background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  // background-color: #4834d4;
  // background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);

  background-color: #0b0f54;
  background-image: linear-gradient(135deg, #121212, #0b0f54);
}

.dark-layout .navbar-container {
  //   background: linear-gradient(rgba(0, 210, 255, 0.3), rgba(0, 210, 255, 0));
  //   background: black;
  background: transparent;
  // border: 1px solid #05cbfc;
  // border-radius: 10px;
}

//Receive component
.dark-layout h4 {
  color: white !important;
  // color: #27aae1 !important;
}

//React-data-table pagination(drak)
.dark-layout .page-item.active .page-link {
  border-radius: 5rem;
  // background-color: #05cbfc;
  background-color: #27aae1;
}

//React-data-table (no data component)
.dark-layout .nodatastyle {
  color: white;
  // background-color: #283046;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 66%, #0f3070e8 94%);
}

//Table(dark)

//linked segas table
.dark-layout
  .table:not(.table-dark):not(.table-light)
  thead:not(.thead-dark)
  th,
[dir]
  .dark-layout
  .table:not(.table-dark):not(.table-light)
  tfoot:not(.thead-dark)
  th {
  background-color: #201c2e !important;
}

.dark-layout .react-dataTable .rdt_TableHead .rdt_TableHeadRow {
  //this is for extra space when table head is compressed
  background-color: #201c2e !important;
  border-color: #3b4253;
}

.dark-layout .react-dataTable .rdt_TableBody .rdt_TableRow {
  //this is for extra space when table body is compressed
  // background-color: #1d183f !important;
  background-image: linear-gradient(147deg, #000000 66%, #0f3070e8 94%);
  border-color: #3b4253;
}

.dark-layout .react-dataTable .rdt_TableHead .rdt_TableHeadRow .rdt_TableCol {
  background-color: #201c2e !important;
}

.dark-layout .react-dataTable .rdt_TableBody .rdt_TableRow .rdt_TableCell {
  // background-color: #1d183f !important;
  background-color: linear-gradient(147deg, #000000 66%, #0f3070e8 94%);
}

// ==================================
// previous changes
// ==================================
// .dark-layout .react-dataTable .rdt_Table {
//     background: transparent !important;
// }

// .dark-layout .react-dataTable .rdt_TableBody .rdt_TableRow {
//   // border-color: #ffff !important;
//   border: rgb(48, 57, 66) !important;
//   background: rgb(16, 25, 33);
// }
// ==================================

//Sidebar
.dark-layout .main-menu {
  // background: #006277 !important;
  //   background: rgba(0, 0, 0, 0.8);
  // backdrop-filter: saturate(180%) blur(10px);
  //   background: #25506f;

  // background-color: #0cbaba;
  // background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

  // background-color: #2b4162;
  // background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);

  // background-color: #000000;
  // background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  // background-color: #4834d4;
  // background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);

  background-color: #0b0f54;
  background-image: linear-gradient(135deg, #121212, #0b0f54);
}

// .dark-layout .main-menu-content .navigation-main{
//     background-color: transparent !important;
// }

.dark-layout .main-menu-content .navigation-main {
  // background: linear-gradient(rgba(0, 210, 255, 0.3), rgba(0, 210, 255, 0));
  //   background: rgba(0, 0, 0, 0.8);
  //   background: #25506f;
  //   backdrop-filter: saturate(180%) blur(10px);

  // background-color: #0cbaba;
  // background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);

  // background-color: #2b4162;
  // background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);

  // background-color: #000000;
  // background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

  // background-color: #4834d4;
  // background-image: linear-gradient(315deg, #4834d4 0%, #0c0c0c 74%);

  background-color: #0b0f54;
  background-image: linear-gradient(135deg, #121212, #0b0f54);
}

//login Page
.dark-layout .auth-wrapper .auth-bg {
  background-color: transparent;
  background: linear-gradient(rgba(4, 85, 104, 0.3), rgba(0, 210, 255, 0));
}

//Badges
.dark-layout .badge-primary {
  background-color: #27aae1;
  // background-color: #05cbfc;
}

//dropdown(light)
.qa:hover,
// .dropdown-item:hover,
// .dropdown-item:focus 
.qa:focus {
  background-color: transparent;
}

//dropdown (dark)
[dir] .dark-layout .dropdown-menu .dropdown-item:active,
[dir] .dark-layout .dropdown-menu .dropdown-item.active {
  background-color: #27aae1;
  // background-color: #05cbfc;
}

.dark-layout .dropdown-menu .dropdown-item:hover,
.dark-layout .dropdown-menu .dropdown-item:focus {
  color: #05cbfc;
  background: rgb(99, 145, 157);
}

.dark-layout .btn span {
  color: white;
}

.dark-layout .btn-outline-primary {
  border: 1px solid #27aae1 !important;
  background-color: transparent;
}

.dark-layout .dropdown-menu {
  // background-color: rgba(0, 210, 255, 0.95);
  //   background-color: #006277 !important;
  border: 1px solid white;
  background-color: #23242a !important;
  // background-color: black !important;
}

.dark-layout .nav-tabs .nav-item .nav-link.active,
[dir] .dark-layout .nav-pills .nav-item .nav-link.active,
[dir] .dark-layout .nav-tabs.nav-justified .nav-item .nav-link.active {
  background-color: transparent !important;
}

//Sweet Alert
.dark-layout .swal2-container .swal2-modal {
  border: 1px solid white;
  background-color: #23242a !important;
  // background-color: black !important;
  // background: #25506f !important;
}

.dark-layout .swal2-container .swal2-modal .swal2-content,
.dark-layout .swal2-container .swal2-modal .swal2-html-container {
  color: #b4b7bd;
}

//sidebar-column
.modal-slide-in .modal-dialog.sidebar-sm.droplist {
  width: 31rem;
}

//border for drag-drop import
.drag-drop_border {
  border: 2px dashed $primary;
  border-radius: 12px;
  padding: 1em;
}

.drag-drop_border_drag {
  border: 2px dashed $success;
  border-radius: 12px;
  padding: 1em;
}

//droplist tree structure line
.decor:before {
  content: '';
  height: 100%;
  left: 5px;
  top: 12px;
  border-left: 1px solid #8f8b8b;
  font-weight: 200;
  position: absolute;
}

.line-sega:before {
  content: '';
  position: absolute;
  height: 60px;
  width: 48px;
  left: -41px;
  top: -39px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.dark-layout .line-sega:before {
  content: '';
  position: absolute;
  height: 60px;
  width: 48px;
  left: -41px;
  top: -39px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

.line-sega-export:before {
  content: '';
  position: absolute;
  height: 60px;
  width: 27px;
  left: -33.5px;
  top: -39px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.dark-layout .line-sega-export:before {
  content: '';
  position: absolute;
  height: 60px;
  width: 27px;
  left: -33.5px;
  top: -39px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

//Modals(dark)
.dark-layout .modal .modal-header {
  background: linear-gradient(118deg, rgba(#05cbfc, 1), rgba(#05cbfc, 0.7));
}

.dark-layout .modal .modal-content,
.dark-layout .modal .modal-body,
.dark-layout .modal .modal-footer {
  // background: linear-gradient(0, #ab2ee3, transparent);
  //   background: linear-gradient(rgba(0, 210, 255, 0.3), rgba(0, 210, 255, 0));
  // background: #25506f;
  // background: black;
  background: #23242a;
}
.dark-layout .modal .modal-content {
  box-shadow: 0px 0px 10px 1px #27aae1;
}

//(this is for the logo that takes us to ethersacn, polyscan and the likes.)
//goexternal
.goexternal {
  color: gray;
}

//anchor tag (light)
a {
  color: gray;
}

a:hover {
  color: #0000cd;
}

//anchor tag (dark)
.dark-layout a {
  color: white;
}

.dark-layout a:hover {
  color: #27aae1;
}

//Icon for compressed Navbar (burger menu)
.header-navbar .navbar-container ul.navbar-nav li i.ficon:hover,
.header-navbar .navbar-container ul.navbar-nav li svg.ficon:hover {
  color: #27aae1;
}

//modal-header
.modal .modal-header {
  background: linear-gradient(118deg, rgba(#0000cd, 1), rgba(#0000cd, 0.7));
  box-shadow: 0 0 10px 1px rgba(#0000cd, 0.4);
  color: $white;
  border-bottom: none;
}

.dark-layout .modal-title {
  color: $white;
}

.modal-title {
  color: $white;
}

//modal-header close button
.modal-header .close {
  margin: -0.6rem -0.8rem -0.8rem auto;
}

.close {
  text-shadow: none;
  color: white;
}
.dark-layout .close {
  text-shadow: none;
  color: white;
}

.modal .modal-header .close {
  transform: translate(8px, -2px);
  background: transparent;
  background-color: transparent !important;
}
.dark-layout .modal .modal-header .close {
  transform: translate(8px, -2px);
  background: transparent;
  background-color: transparent !important;
  box-shadow: none !important;
}

//if Avatar size='lg' the icon size is custom
.avatar.avatar-lg .avatar-content .avatar-icon,
.avatar.avatar-lg .avatar-content i,
.avatar.avatar-lg .avatar-content svg {
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
}

//tabs color (dark)
.dark-layout .nav-tabs .nav-link:after {
  left: 0;
  // background: linear-gradient(30deg, #05cbfc, rgba(#05cbfc, 0.5)) !important;
  background: linear-gradient(30deg, #27aae1, rgba(#27aae1, 0.5)) !important;
}

//background primary in avatar (dark)
.dark-layout .bg-primary {
  // background-color: #25506f !important;
  background-color: #23242a !important;
  // color: #05cbfc !important;
  color: white !important;
}

//background light-primary in avatar (dark)
.dark-layout .avatar.bg-light-primary {
  // color: #05cbfc !important;
  color: white !important;
  background-color: #27aae1 !important;
}

//background light-primary in avatar (light)
.avatar.bg-light-primary {
  color: #ffff !important;
  background-color: #0000cd !important;
}

//Navbar Heading (dark)
.dark-layout .main-menu .navbar-header .navbar-brand .brand-text {
  color: #27aae1;
}

//Forms/input tag in darkmode
[dir] .dark-layout input.form-control:not(:focus),
[dir] .dark-layout .custom-file-label:not(:focus),
[dir] .dark-layout textarea.form-control:not(:focus) {
  border-color: white;
}

[dir] .dark-layout input.form-control:focus,
[dir] .dark-layout .custom-file-label:focus,
[dir] .dark-layout textarea.form-control:focus {
  border-color: #27aae1;
}

[dir] .dark-layout input.form-control,
[dir] .dark-layout .custom-file-label,
[dir] .dark-layout textarea.form-control {
  background-color: black;
}

//react-select

.dark-layout {
  .select__control {
    // background-color: #404964;
    background-color: black;
    border-color: #ffff;

    .select__indicator svg {
      fill: #ffff;
    }

    .select__indicator span,
    .select__single-value {
      color: #ffff;
    }

    .select__multi-value {
      background-color: rgba($color: $primary, $alpha: 0.12);
      .select__multi-value__label {
        color: $primary;
      }
    }
    .select__multi-value__remove {
      svg {
        fill: $primary;
      }
      &:hover {
        background-color: transparent !important;
      }
    }

    .select__placeholder {
      color: #ffff;
    }

    &.select__control--is-disabled {
      opacity: 0.5;
    }
  }
  .select__menu {
    // background-color: #283046;
    background-color: #000000;
    // background-image: linear-gradient(147deg, #000000 66%, #0f3070e8 94%);
  }
}

.dark-layout
  .select__menu
  .select__menu-list
  .select__option.select__option--is-focused,
.select__menu
  .select__menu-list
  .react-select__option.select__option--is-focused,
.select__menu
  .react-select__menu-list
  .select__option.select__option--is-focused,
.select__menu
  .react-select__menu-list
  .react-select__option.select__option--is-focused,
.react-select__menu
  .select__menu-list
  .select__option.select__option--is-focused,
.react-select__menu
  .select__menu-list
  .react-select__option.select__option--is-focused,
.react-select__menu
  .react-select__menu-list
  .select__option.select__option--is-focused,
.react-select__menu
  .react-select__menu-list
  .react-select__option.select__option--is-focused {
  color: #05cbfc;
  background: rgba(99, 145, 157, 0.347);
}

//form button
.dark-layout .btn-outline-primary {
  border: 1px solid #27aae1 !important;
  background-color: transparent;
  color: #27aae1;
}

//login_modal (dark)
// .dark-layout .dark_login {
//   box-shadow: 1px 0px 20px 0px #05cbfc;
// }

//wallet logo in dropdown
.dark-layout .wallet {
  color: white;
}

.main-menu.menu-dark {
  color: #ffff;
}

//sidebar menu items font size
.navigation {
  font-size: 0.9rem;
}
