//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding component variables.
//  ================================================================================================


.main-menu.menu-light .navigation > li.active > a {
    background: linear-gradient(118deg, rgba(#1028e4, 1), rgba(#1028e4, 0.7));
    box-shadow: 0 0 10px 1px rgba(#1028e4, 0.7);
    border-radius: 4px;
    z-index: 1;
    color: $white
}


//Cards
.dark-layout .card {
    // background: linear-gradient(0, #ab2ee3, transparent);    
    // background: linear-gradient(rgba(0, 210, 255, 0.3), rgba(0, 210, 255, 0), transparent) ;
    background: linear-gradient(rgba(0, 210, 255, 0.3), rgba(0, 210, 255, 0)); 
}

.card-title{
    color: $primary;
}

//Navbar
.dark-layout .navbar-container {
    // background: linear-gradient(0, #ab2ee3, transparent);  
    // background: linear-gradient(rgba(0, 210, 255, 0.3), rgba(0, 210, 255, 0), transparent) ; 
    background: linear-gradient(rgba(0, 210, 255, 0.3), rgba(0, 210, 255, 0));    
}

//Receive component
.dark-layout h4{
    color: white !important;
}

//Table

// .dark-layout .react-dataTable .rdt_Table {
//     background: transparent !important;
// }

.dark-layout .react-dataTable .rdt_TableBody .rdt_TableRow {
    // border-color: #ffff !important;
    border:rgb(48, 57, 66) !important;
    background: rgb(16, 25, 33);
}

//Sidebar
.dark-layout .main-menu {
    // background: #006277 !important;
    background: rgba(0,0,0,0.8);
    // backdrop-filter: saturate(180%) blur(10px);
}

// .dark-layout .main-menu-content .navigation-main{
//     background-color: transparent !important;
// }

.dark-layout .main-menu-content .navigation-main {
    // background: linear-gradient(0, #ab2ee3, transparent); 
    // background: linear-gradient(rgba(0, 210, 255, 0.3), rgba(0, 210, 255, 0), transparent) ; 
    // background: linear-gradient(rgba(0, 210, 255, 0.3), rgba(0, 210, 255, 0)); 
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(10px);
    // background-color: transparent;
    // background-repeat: no-repeat;
    // background-image: url(../../images/backg/bg.png);
    // background-size: auto 200%;
}

//login Page
.dark-layout .auth-wrapper .auth-bg {
    background-color: transparent;
    background: linear-gradient(rgba(4, 85, 104, 0.3), rgba(0, 210, 255, 0)); 
}

//Modals
.dark-layout .modal .modal-content, [dir] .dark-layout .modal .modal-body, [dir] .dark-layout .modal .modal-footer{
    // background: linear-gradient(0, #ab2ee3, transparent); 
    background: linear-gradient(rgba(0, 210, 255, 0.3), rgba(0, 210, 255, 0)); 
}

.dark-layout .dropdown-menu {
    // background-color: rgba(0, 210, 255, 0.95);
    background-color: #006277 !important;
}

.dark-layout .nav-tabs .nav-item .nav-link.active, 
[dir] .dark-layout .nav-pills .nav-item .nav-link.active, 
[dir] .dark-layout .nav-tabs.nav-justified .nav-item .nav-link.active{
    background-color: transparent !important;
}

//Sweet Alert
.dark-layout .swal2-container .swal2-modal{
    background-color: #006277 !important;
}

.dark-layout .swal2-container .swal2-modal .swal2-content, .dark-layout .swal2-container .swal2-modal .swal2-html-container {
    color: #b4b7bd;
}